html { scroll-behavior: smooth; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  text-align: center;
  justify-content: center;
  margin: 0%;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 12px 24px 0 0;
}

#menu {
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  z-index: 99;
  padding-top: 1em;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-nav > #close_menu {
  font-size: 24px;
  color: #67798e;
  align-self: flex-end;
  padding-right: 38px;
  cursor: pointer;
}

#close_menu:hover {
  opacity: 0.5;
  transition: all 0.6s;
}

.mobile-nav a {
  text-decoration: none;
  color: #3a4a42;
  font-size: 32px;
}

.mobile-nav li a:hover {
  color: #36b37f;
  transition: all 0.6s;
}

.mobile-nav li {
  margin-bottom: 40px;
  list-style: none;
  padding-left: 28px;
}

.desktop-nav {
  display: none;
}

.content {
  display: flex;
  background-image: url(./features/images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 43rem;
}

#head1 {
  font-family: 'Inter', sans-serif;
  color: #172b4d;
  margin-bottom: 0%;
  font-size: 40px;
  padding-bottom: 0;
}

#head2 {
  color: #36b37e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.intel {
  font-style: normal;
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  padding: 24px 18px 24px 12px;
}

.icon-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  gap: 20px;
  list-style: none;
  padding-left: 0;
}

#img {
  margin-top: 40px;
  margin-bottom: 20px;
}

.works {
  font-size: 48px;
  padding-left: 28px;
  padding-right: 28px;
  color: #172b4d;
  font-weight: 700;
  margin-top: 0;
}

#content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #ebf0ee;
  border-radius: 8px;
}

#img2 {
  margin-bottom: 62px;
  margin-top: 24px;
}

.item1 {
  padding: 120px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 1px;
  justify-content: center;
  padding-bottom: 24px;
  border-radius: 8px;
}

.item2 {
  padding: 16px;
  font-weight: 600;
  color: #3a4a42;
}

.flexbox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding-bottom: 29px;
  color: #3a4a42;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin: 0;
}

.item3 {
  background-color: #ebf0ee;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 12px 8px 12px;
  text-align: center;
  border-radius: 8px;
}

.item7 {
  background-color: #36b37e;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  border: 0;
}

.item7:hover {
  transform: scale(1.15);
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.item7:active {
  background: #008552;
}

.item8 {
  display: flex;
  justify-content: center;
  background-color: #36b37e;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  gap: 9px;
  align-items: center;
}

.button-spacing {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 0;
  padding-left: 0;
  padding-right: 18px;
}

.Main-pop {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  padding: 20px 16px 26px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: scroll;
  height: 100%;
  backdrop-filter: blur(10px);
}

.pop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
}

.image-pop2 {
  display: none;
}

.pop-icon {
  display: none;
}

.pop-word2 {
  display: none;
}

.lorem2 {
  display: none;
}

.button-spacingx {
  display: none;
}

.image-pop {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.top-note {
  display: none;
}

.pop-word {
  line-height: 44px;
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  color: #172b4d;
  padding: 12px 0 12px 0;
}

.pop-flexbox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  padding-bottom: 29px;
  color: #3a4a42;
  list-style: none;
  padding-left: 0;
  justify-content: flex-start;
  margin: 0;
  padding-right: 22%;
}

.pop-flexbox2 {
  display: none;
}

.lorem {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  line-height: 24px;
  padding-bottom: 24px;
  text-align: left;
}

.main-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 24px;
  margin-left: 28px;
  margin-right: 28px;
  position: relative;
}

.about {
  padding-left: 26px;
  padding-right: 26px;
  color: #172b4d;
  font-weight: 700;
  font-size: 48px;
}

#About-me {
  display: flex;
  background-image: url(/features/images/illustration-\ about\ me-\ mobile\ \.svg);
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 40px;
  height: 21rem;
  padding-bottom: 59px;
  margin-top: 64px;
  margin-bottom: 59px;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  background-color: #ebf0ee;
  padding: 141px;
  border-radius: 8px;
  margin-left: 28px;
  margin-right: 28px;
}

.flex1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #ebf0ee;
  border-radius: 8px;
}

#icon {
  padding-top: 40px;
}

.sub-head {
  color: #344563;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  padding-bottom: 24px;
}

.flex2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 72px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.lang {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #36b37e;
}

.flex3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.flex4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 24px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.main-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 24px;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.flex5 {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-top: 54px;
  background-image: url(./features/images/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: right bottom;
  padding-right: 30px;
  padding-left: 24px;
}

#bio {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 58px;
  color: #172b4d;
}

.text-placeholder::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  color: #6b778c;
}

input {
  padding: 15px 16px 15px 16px;
}

.flex6 {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.flex7 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.style-placeholder::placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #42526e;
  font-family: 'Inter', sans-serif;
}

textarea {
  padding: 12px 12px 48px 12px;
  border-color: #36b37e;
}

.touch {
  background-color: #36b37e;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  margin: 0 30% 0 30%;
  border: 0;
  font-weight: 500;
  font-size: 17px;
}

.touch:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.touch:active {
  background: #008552;
}

#my-email {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  padding-top: 48px;
}

.icon-box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  padding-top: 30px;
  padding-bottom: 32px;
}

.form {
  padding-bottom: 0;
}

#myflex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-bar {
  height: 5px;
  width: 8rem;
  background-color: black;
  border-radius: 2px;
  margin-bottom: 5px;
}

/* media screen and (min-width: 1440px) {
  .desktop-nav {
    padding: 0 0 0 40%;
  }
*/

@media screen and (min-width: 768px) {
  body {
    font-family: 'Inter', sans-serif;
    width: fit-content;
    height: 100vh;
    overflow-x: hidden;
  }

  nav {
    padding: 0%;
  }

  .desktop-nav {
    display: flex;
    background-color: transparent;
    width: max-content;
    margin: 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    padding-bottom: 230px;
    gap: 24px;
  }

  #close_menu {
    display: none;
  }

  #menu {
    display: none;
  }

  .nav-items a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #172b4d;
  }

  .content {
    display: flex;
    background-image: url(./features/images/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 65rem;
    padding-bottom: 24rem;
  }

  p {
    padding: 0;
    margin: 0;
  }

  br {
    display: none;
  }

  #head1 {
    font-family: 'Inter', sans-serif;
    color: #172b4d;
    margin-bottom: 0;
    font-size: 40px;
  }

  #head2 {
    color: #36b37e;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
  }

  .intel {
    font-style: normal;
    color: #172b4d;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 1.5rem 16.5rem 1.5rem 16.5rem;
  }

  .icon-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 20px;
    list-style: none;
    padding-left: 0;
    padding-top: 1.375rem;
  }

  #img {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .works {
    font-size: 40px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    color: #172b4d;
    font-weight: 700;
    margin-top: 0;
    padding-bottom: 52px;
    margin-left: 24.75rem;
    margin-right: 24.75rem;
  }

  #content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #ebf0ee;
    border-radius: 8px;
  }

  .grid-container:hover {
    transform: scale(1.05);
  }

  #img2 {
    display: none;
  }

  .item1 {
    padding: 7.5rem;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 0.063rem;
    justify-content: center;
    padding-bottom: 1.5rem;
    border-radius: 8px;
  }

  .item2 {
    padding: 1rem;
    font-weight: 600;
    color: #3a4a42;
  }

  .flexbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding-bottom: 1.81rem;
    color: #3a4a42;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    margin: 0;
  }

  .item3 {
    background-color: #ebf0ee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px 8px 12px;
    text-align: center;
    border-radius: 8px;
  }

  .item7 {
    background-color: #36b37e;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
  }

  .item7:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .item7:active {
    background: #008552;
  }

  .main-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 1.5rem;
    margin-left: 8.188rem;
    margin-right: 8.125rem;
  }

  .main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 1.5rem;
    margin-left: 8.188rem;
    margin-right: 8.125rem;
  }

  .about {
    padding-left: 1.625rem;
    padding-right: 1.625rem;
    color: #172b4d;
    font-weight: 700;
    font-size: 48px;
  }

  #About-me {
    display: flex;
    background-image: url(./features/images/illustration-about-me-2-desktop.svg);
    background-repeat: no-repeat;
    background-size: 16rem;
    background-position: left center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 81px;
  }

  #About-me-image {
    background-image: url(./features/images/illustration-about\ me-1-desktop.svg);
    background-repeat: no-repeat;
    background-size: 16rem;
    background-position: right top;
  }

  #background {
    background-image: url(./features/images/Frame\ footer.svg);
    background-repeat: no-repeat;
    background-size: 12rem;
    background-position: left 80%;
  }

  .grid {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    background-color: #ebf0ee;
    padding: 141px;
    border-radius: 8px;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }

  .flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #ebf0ee;
    border-radius: 8px;
  }

  .flex1:hover {
    transform: scale(1.05);
  }

  #icon {
    padding-top: 40px;
  }

  .sub-head {
    color: #344563;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
  }

  .flex2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 72px;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .lang {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    color: #36b37e;
  }

  .flex3 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    margin: 0;
    list-style: none;
  }

  .flex4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 24px;
    padding-left: 0;
    margin: 0;
    list-style: none;
  }

  .flex5 {
    background-image: url(./features/images/Frame.svg);
    background-repeat: no-repeat;
    background-size: 13rem;
    background-position: right bottom;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2.1fr 2.9fr;
    align-items: center;
    gap: 8px;
    padding-bottom: 238px;
    padding-top: 97px;
    padding-right: 8.188rem;
    padding-left: 8.125rem;
    margin-top: 0;
  }

  #bio {
    font-weight: 700;
    font-size: 27px;
    color: #172b4d;
    line-height: 52px;
  }

  .text-placeholder::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: #6b778c;
  }

  input {
    padding: 15px 16px 15px 16px;
  }

  .flex6 {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }

  .flex7 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .style-placeholder::placeholder {
    font-weight: 400;
    font-size: 15px;
    color: #42526e;
    font-family: 'Inter', sans-serif;
  }

  textarea {
    padding: 12px 12px 48px 12px;
    border-color: #36b37e;
  }

  .touch {
    background-color: #36b37e;
    color: #fff;
    padding: 12px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 17px;
    margin-left: 0;
    margin-right: 28.125rem;
  }

  #rectangle {
    display: flex;
    background-color: #dfe1e6;
    height: 1px;
  }

  .mini-bar {
    display: none;
  }

  #my-email {
    display: none;
  }

  .form {
    padding-bottom: 31px;
  }

  .touch:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .touch:active {
    background: #008552;
  }

  .Main-pop {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: rgba(193, 199, 208, 0.2);
    backdrop-filter: blur(10px);
    height: 100%;
    justify-content: center;
    overflow-y: hidden;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
  }

  .pop2 {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: white;
    justify-content: stretch;
    padding: 16px;
    border-radius: 8px;
    overflow-x: hidden;
    width: 70rem;
  }

  .pop-icon {
    cursor: pointer;
    size: 18px;
    display: block;
    position: relative;
    left: 64rem;
    padding-bottom: 14px;
    width: 54px;
    height: 56px;
  }

  .image-pop2 {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .pop-word2 {
    line-height: 44px;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    color: #172b4d;
    padding: 12px 92px 12px 0;
    display: block;
    margin-right: 12rem;
  }

  .pop-flexbox2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    padding-bottom: 29px;
    color: #3a4a42;
    list-style: none;
    padding-left: 0;
    justify-content: flex-start;
    margin: 0;
    padding-right: 2%;
  }

  .item3x {
    background-color: #ebf0ee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px 8px 12px;
    text-align: center;
    border-radius: 8px;
    display: block;
  }

  .lorem2 {
    font-weight: 400;
    font-size: 16px;
    color: #344563;
    line-height: 24px;
    padding-bottom: 24px;
    text-align: left;
    display: block;
  }

  .button-spacingx {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 0;
    padding: 20px 18px 20px 0;
  }

  .pop {
    display: none;
  }

  .image-pop {
    display: none;
  }

  .pop-word {
    display: none;
  }

  .top-note {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: start;
  }

  .item8x {
    display: flex;
    justify-content: center;
    background-color: #36b37e;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    gap: 9px;
    align-items: center;
    margin-top: 6px;
    white-space: nowrap;
    margin-bottom: 12px;
  }
}
